<link rel="stylesheet" href="/assets/css/transitions.css" />

<main id="swup" class="transition-main" data-swup-transition="right">

<p>{{email}}</p>

<head>
<title>Mis Redes Sociales</title>
<!-- Agrega aquí tus estilos CSS personalizados si los tienes -->
<style>
    /* Estilos personalizados para los íconos de las redes sociales */
    .social-icon {
        font-size: 24px;
        margin: 10px;
        color: #007bff; /* Cambia el color según tus preferencias */
        text-decoration: none;
    }
</style>
</head>
<body>
<h1>Mis Redes Sociales</h1>
<p>Sígueme en mis redes sociales:</p>
<a href="https://www.instagram.com/mr.phoenix.x/" target="_blank" class="social-icon">
    <i class="fab fa-instagram"></i> Instagram
</a>
<a href="https://www.linkedin.com/in/tu_perfil_de_linkedin" target="_blank" class="social-icon">
    <i class="fab fa-linkedin"></i> LinkedIn
</a>
<a href="https://www.facebook.com/tu_usuario_de_facebook" target="_blank" class="social-icon">
    <i class="fab fa-facebook"></i> Facebook
</a>
<a href="https://twitter.com/tu_usuario_de_twitter" target="_blank" class="social-icon">
    <i class="fab fa-twitter"></i> Twitter
</a>

<!-- Agrega aquí cualquier otro contenido que desees en tu página -->
</body>
</main>