

<link rel="stylesheet" href="/assets/css/transitions.css" />

<main id="swup" class="transition-main"   data-swup-transition="left">
<html>

<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle }}</h2>
  <p>{{email}}</p>

  <article class="about"></article>
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos possimus
    architecto alias inventore! Quia necessitatibus illo rerum aperiam deserunt
    porro recusandae quod quae blanditiis, error ex quos architecto quibusdam
    voluptatum?
  </p>
</div>
</html>
</main>